/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",Tahoma,Verdana,Geneva,sans-serif;

}

header{
    height: 70px;
    background: #4D4D5C;
    padding: 0px 50px;
    color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo > a{
    text-transform: uppercase;
    color: aquamarine;
    font-weight: 200;
    text-decoration: dotted;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.mostrar-menu ,
.esconder-menu{

    font-size: 30px;
    cursor: pointer;
   display: none;
    transition: 0.4s;
}
.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #6cc091;
}
#check{
    display: none;
}

/* CSS CAROUSEL */
.carousel{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px;
    
}
.carousel__container{
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel__container::before{
    content: "";
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
}
.carousel__figure{
    width: 400%;
    height: 100%;
    display: flex;
    animation: carousel 16s infinite alternate ease-in-out;
}

.carousel__img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* animacion para el carousel*/
@keyframes carousel {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.contenido-banner{
    position: absolute;
    top: 0;
}
.contenido-banner{
    /* position: relative; */
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}
/*BANNER*/
/* #banner{
    padding: 0 50px;
    background-image: url("/IMAGENES/banner_1.jpeg");
    height: 45vh;
    background-size: cover;
    background-position: center;
}

#banner::before{
    content: '';
    background: rgb(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
} */

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}
.contenido-banner h3 span{
    font-weight: 600;

}
.boton-empezar{
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc091;
    padding: 20px 40px;
    align-self: baseline;
}
.boton-empezar:hover{
    background: #6cc091;
}

/*PERSONAS*/

#personas{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 50px;
}
.personas_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.personas__estudiantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 1em;
    transition: all 1s;
    opacity: 0;
}

.personas__efecto_pc{
    animation: girar_items 1.5s ease-out forwards;
}
@keyframes girar_items {
    0%{
        transform: rotateY(90deg);
        
    }100%{
        opacity: 1;
    }

}

#personas .personas__container__img{
    width: 230px;
    height: 230px;
    /* filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.5)); */
}
.personas__container__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 1px 10px #6cc091;
    filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.5));
    /*  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);*/
    
}
#personas div{
    
}
#personas div h4{
    color: #4D4D5C;
    font-size: 20px;
    /* margin: 15px 0px; */
}
#personas div p{
    color:#4D4D5C87;
    font-size: 18px;
}
.boton-saber-mas{
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 10px 30px;
    border: 3px solid #6cc091;
    border-radius: 25px;
    /* margin-top: 15px; */
    transition: all 0.3s;
}
.boton-saber-mas:hover{
    background: #6cc091;
    color: #fff;
}

/* ICONOS*/

#iconos{
    padding: 0px;
    background: rgba(77, 77, 92, 0.6);
}
#contenido-iconos{
padding: 50px 50px 0px 50px;
display: flex;
justify-content: space-between;
text-align: center;
}
#contenido-iconos div{
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid rgba(255, 2555, 255, 0.2);
}

#icono-mobile{
    border:none;

}
.contenido-iconos div i{
color:#6cc091
}
.contenido-iconos div h6{
    color:#fff;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}
.contenidos-iconos div p {
    color: rgba(255, 2555, 255, 0.55);
    font-size: 15px;
}
.boton-iconos{
    text-align: center;
    padding-bottom: 50px;
}
/*FORMULARIO*/
#contacto{
    background: #6cc091;
    padding: 50px 0px;
    color: #fff;
}
#contacto h4{
   text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
#contacto form{
   max-width: 80%;
   margin: 0 auto;
 }
.datos-form{
    display: flex;
}
.datos-form div{
    padding: 10px;
    flex: 1;
}
form label{
    display: block;
    margin-bottom: 10px;
}
form input,
form textarea{
    background: #6cc091;
    border-radius: 10px;
    border: 2px solid #8dcca9;
    padding: 10px 5px;
    outline: 0;

}


/*RESPONSIVE*/
@media(max-width: 930px){
    /* .carousel{
        height: 285px;
    } */
}

@media(max-width: 768px){


    .mostrar-menu,
    .esconder-menu{
        display: block;
        
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{

        width: 100%;

        padding: 20px;
    }
    .esconder-menu
    {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0%;
    }   
    /*PERSONAS*/
    /* #personas{
        flex-direction: column;

    } */
    .personas_container{
        flex-direction: column;
    }
    /* ICONOS*/
    .contenido-iconos{
        flex-direction: column;

    }
    .contenido-iconos div{
        border: none;
    }

}
